/* Universal Styles */
html {
  font-size: 18px;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Hero Styles */
.hero {
  height: 31rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  /* background-image: url("../images/glasses-bg.png") */
  background-repeat: no-repeat;
  background-position: 34%; /* better than center for unsettling cropping */
  background-size: cover;
}

/* Header Styles */
header {
  padding-top: 1rem;
  font-size: 1rem;
  color: white;
}

header .banner {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

header .logo {
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  padding: 0 1rem;
}

header nav {
  padding: 1rem 0;
}

.nav-small {
  display: none;
}

header li {
  display: inline-block;
  padding: 0 1rem;
}

/* Headline Styles */
.hero .flex {
  display: flex;
  justify-content: flex-end;
}

.headline {
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
}

.headline h1 {
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* Hero Section for Tablet View */
@media only screen and (max-width: 1032px) {
  .hero {
    height: 22rem;
  }
  header {
    padding-top: 0;
  }
  .headline {
    margin-top: 5rem;
    margin-right: 2rem;
  }
  .headline h1 {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }
}

/* Phablet View -- clear cramped header */
@media only screen and (max-width: 630px) {
  .logo span {
    display: none;
  }
}

/* Hero Section Mobile View */
@media only screen and (max-width: 545px) {
  .hero {
    height: 17rem;
    background-position: 20%;
  }
  .nav-large {
    display: none;
  }
  .nav-small {
    display: block;
  }
  .hero .flex {
    justify-content: center;
  }
  .headline {
    margin: 10rem auto 0 auto;
    width: 100%;
    background-color: white;
  }
  .headline h1 {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
  }
}

/* Process Section Styles */
.process {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 3rem auto;
}

.process .process-item {
  margin: 0 3rem;
  height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.process img {
  width: 5rem;
}

.process img.paper {
  width: 3.5rem;
}

@media only screen and (max-width: 545px) {
  .process {
    flex-direction: column;
    font-size: 0.77rem;
  }
  .process .process-item {
    margin: .77rem auto;
    justify-content: center;
  }
}

/* Business Info Section Styles */
.business-info {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.business-info .info {
  width: 35%;
  margin: 0 2.5%;
}

.business-info .title {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  background-color: cadetblue;
  color: white;
}

.business-info p {
  margin-top: 1rem;
}

@media only screen and (max-width: 700px) {
  .business-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }
  .business-info .info {
    width: 100%;
    margin: 0;
  }
  .business-info .title {
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
  }
  .business-info p {
    margin: auto;
    padding: 1rem 0.5rem 4rem 0.5rem;
  }
}

/* Change font size at same width as process section */
@media only screen and (max-width: 545px) {
  .business-info p {
    font-size: 0.77rem;
  }
}

/* Footer Styles */
footer {
  background-color: azure;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

/* Footer Section Mobile View Styles */
@media only screen and (max-width: 545px) {
  footer {
    justify-content: center;
  }
  footer img {
    padding: 4rem 0;
  }
  footer span {
    display: none;
  }
}
